body{
    font-family: sans-serif;
}
nav li {
    display: inline;
    margin: 0px 4px;
}
nav li:first-child a  {
 color: #3e4749;
 text-decoration: underline;
}

nav ul{
    padding-left: 0px;
} 
a{
    color: #ff4b01;
}
header{
    background-color: #879499;
    padding: 40px;
    color: white;
}