
table , th , td{
    border: 2px solid #BD7938;

} 

body{
    background-color: #532700;
    color: #BD7938;
}
#I1{
   height: 30px;
   width: 30px;
}
button {
    background-color: #BD7938;
} 
 img{
    height: 400px;
    width: 400px;
 } 
 th ,h1 {
    text-transform: uppercase;
    font-family: High Tower Text;

 }

 .top{
    background-color: #8D4421;
 } 
 em{
    background-color: #8D4421;
 }

 p{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }


 button:hover{
   background-color: aquamarine;
   transition: cubic-bezier(0.0, 0.0, 0.0, 1) 1s;
 }